.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  & > button {
    display: none;
  }
}
.nav_bar {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  gap: 32px;
  text-transform: uppercase;
  color: var(--grey);
  flex-wrap: wrap;

  & a {
    transition-property: color, scale, font;

    &:hover,
    &:focus-visible {
      color: var(--dark-blue);
      font-weight: 700;
    }
    &:active {
      scale: 0.98;
    }
  }
}

@media (max-width: 720px) {
  .nav_bar {
    display: none;
  }
  .header_wrapper {
    & > button {
      display: block;
    }
  }
}
