.pagebanner_wrapper {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  min-height: 360px;
  display: flex;
  align-items: center;
  padding: 40px;
  color: var(--font);

  & img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
  }
  & div {
    position: relative;
    z-index: 1;
    max-width: 560px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--font);

    & h1 {
      font-size: 72px;
      line-height: 72px;
      font-weight: 600;
    }
    & p {
      width: 80%;
      font-size: 16px;
      font-weight: 300;
    }
  }
  @media (max-width: 750px) {
    min-height: 460px;
    & img {
      object-position: 60% 40%;
      filter: brightness(40%);
    }
  }
  @media (max-width: 640px) {
    padding: 40px 20px;

    & div {
      align-items: center;
      text-align: center;
      & h1 {
        font-size: 48px;
        line-height: 48px;
      }
      & p {
        width: 100%;
      }
    }
  }
}
