.hero_wrapper {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  padding: 40px;
  color: var(--font);
  & img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
  }
  & div {
    position: relative;
    z-index: 1;
    max-width: 560px;
    color: var(--font);

    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      font-size: 72px;
      line-height: 72px;
      font-weight: 800;
    }
    & p {
      width: 80%;
      font-size: 16px;
      font-weight: 300;
    }
    & button {
      width: fit-content;
      padding: 8px 24px;
      background-color: var(--dark-cyan);
      border-radius: 12px;
    }
  }
}
@media (max-width: 640px) {
  .hero_wrapper {
    padding: 40px 20px;
    & div {
      align-items: center;
      max-width: 100%;
      text-align: center;
      & h1 {
        font-size: 40px;
        line-height: 40px;
      }
      & p {
        width: 100%;
      }
    }
  }
}
