@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #FEFCF7;
  
  color: var(--dark-blue);
}
.content{
  width: 86%;
  max-width: 1366px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: none;
}