:root {
    --dark-cyan: #0E8784;
    --active-btn: #66D2CF;
    --dark-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --font: #FEFCF7;
    --font-light: rgba(254, 252, 247, 0.60);
    --grey: #83888F;
    --card-bg:#F4F1EB;
  }